name: clinica_fisioterapia
description: Projeto de aplicativo para agendamento de Fisioterapia

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.17.3 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  uuid: ^3.0.6
  google_fonts: ^3.0.1
  http: ^0.13.4
  http_interceptor: ^1.0.2
  logger: ^1.1.0
  intl: ^0.18.1
  day_night_time_picker: 1.3.1
  shared_preferences: ^2.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:

  uses-material-design: true
